<div [hidden]="!router.url.startsWith('/sistema') || router.url == '/sistema'" class="mb-16">
    <div>
        <div class="flex px-4 pt-4 pb-2 gap-2 justify-content-between bg-white">
            <div class="flex align-items-center gap-3">
                <img width="50px" src="assets/img/logo-eletron.png" alt="">
                <span class="font-semibold">Eletrônica do Luis</span>
            </div>
            <div class="flex gap-2">
                <p-button 
                    (onClick)="activeItem = items![0]" 
                    [rounded]="true" label="1" 
                    styleClass="w-2rem h-2rem p-0" 
                    [outlined]="activeItem !== items![0]" />
                <p-button 
                    (onClick)="activeItem = items![1]" 
                    [rounded]="true" 
                    label="2" 
                    styleClass="w-2rem h-2rem p-0" 
                    [outlined]="activeItem !== items![1]" />
                <p-button 
                    (onClick)="activeItem = items![2]" 
                    [rounded]="true" 
                    label="3" 
                    styleClass="w-2rem h-2rem p-0" 
                    [outlined]="activeItem !== items![2]" />
            </div>
        </div>
        <p-tabMenu 
            [model]="items" 
            [activeItem]="activeItem"
            (activeItemChange)="onActiveItemChange($event)" 
        />
    </div>
</div>