<header #header class="shadow-lg shadow-zinc-100">
    <div class="container mx-auto py-4 px-5 md:px-6">
        <div class="flex items-center justify-start gap-3">
            <img width="35px" class="img-fluid" src="assets/img/logo-black-eletron.png" alt="eletron-logo">
            <div class="flex flex-col md:gap-1 text-left">
                <span class="text-xl font-semibold">ELETRÔNICA DO LUIS</span>
                <div class="flex gap-3 text-slate-500" style="font-size: 14px">
                    <span class="separator">(27) 99969-2465</span>
                    <span>Nova Venécia-ES</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main #main class="container mx-auto py-4 my-4 md:my-6 px-4 md:px-6 main-background" style="background-image: url('assets/img/bg-logo-eletron.png')">
    <div class="flex flex-col text-center md:text-left gap-5">
        <div #title class="title text-5xl md:text-7xl font-extrabold">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-black to-emerald-700">
                Assistência técnica <br> de
            </span>
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-emerald-700 to-black">
                eletrônicos em geral
            </span>
        </div>

        <div class="flex md:justify-start justify-center items-center mb-6">
            <a routerLink="/sistema"><p-button icon="pi pi-search" [rounded]="true" label="Consultar serviço"></p-button></a>
        </div>

        <div #map class="lg:w-1/2 rounded-2xl relative overflow-hidden">
            <div 
                leaflet 
                [leafletOptions]="options" 
                [leafletLayers]="[marker]"
                class="z-10" style="height: 300px" 
            ></div>
        </div>
    </div>
</main>

<section class="container mx-auto mt-20 mb-20 lg:mb-0 px-4 md:px-6">
    <div class="grid grid-cols-3 text-center container-info">
        <div class="px-4 py-1 info separator text-xs md:text-lg">Análise Rápida e Gratuita</div>
        <div class="px-4 py-1 info separator text-xs md:text-lg">Pós-Atendimento e Suporte pelo WhatsApp</div>
        <div class="px-4 py-1 info text-xs md:text-lg">Garantia de Qualidade</div>
      </div>
</section>

<div class="h-64 hidden lg:block lines-background" style="background-image: url('assets/img/bg-lines.png')"></div>

<div #horario class="bg-black main-background" style="background-image: url('assets/img/bg-lines-white.png')">
    <div class="container mx-auto px-6 py-8 relative overflow-hidden">
        <div class="relative z-50">
            <h1 class="text-5xl md:text-6xl lg:text-7xl font-extrabold text-neutral-100 mt-0 mb-3">Horário de funcionamento</h1>
            <div class="flex flex-col gap-1 text-lg text-neutral-300 horario-descricao">
                <div>
                    <strong>Segunda</strong> à 
                    <strong>Sexta</strong> das 
                    <span>07h</span> até as 
                    <span>17h</span>
                </div>
                <div>
                    <strong>Sábado</strong> das 
                    <span>07h</span> até as 
                    <span>12h</span>
                </div>
            </div>
        </div>
    
        <div class="absolute right-12 z-0 top-0 opacity-20">
            <img class="w-48 md:w-80" src="assets/img/logo-gray-eletron.png" alt="">
        </div>
    </div>
</div>


<div class="fixed z-50 bottom-10 md:bottom-20 right-10 md:right-20">
    <p-button icon="pi pi-whatsapp" [rounded]="true" severity="success" size="large" />
</div>