<header #header class="shadow-lg shadow-zinc-100">
    <div class="container mx-auto flex flex-col md:flex-row justify-between gap-5 py-5 px-4 md:px-6">
        <div class="flex items-center flex-col md:flex-row gap-3">
            <img width="35px" class="img-fluid" src="assets/img/logo-eletron.png" alt="eletron-logo">
            <div class="flex flex-col gap-2 md:gap-1 text-center md:text-left">
                <span class="text-xl font-semibold">ELETRÔNICA DO LUIS</span>
                <div class="flex gap-4 text-slate-500" style="font-size: 14px">
                    <span><i class="pi pi-map-marker text-xs md:text-sm mr-2"></i>Nova Venécia-ES</span>
                    <span><i class="pi pi-whatsapp text-xs md:text-sm mr-2"></i>(27) 99969-2465</span>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <a routerLink="/sistema">
                <p-button icon="pi pi-search" [rounded]="true" label="Consultar serviço"></p-button>
            </a>
        </div>
    </div>
</header>


<main #main class="container mx-auto py-4 mt-5 md:mt-8 px-4 md:px-6 main-background" style="background-image: url('assets/img/bg-logo-eletron.png')">
    <div class="flex flex-col text-center md:text-left gap-5">
        <div class="mb-4">
            <div #title class="title text-6xl md:text-7xl font-bold">
                Assistência técnica <br> de 
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-900 to-blue-500 font-extrabold">
                    eletrônicos em geral
                </span>
            </div>
        </div>

        <div #map class="lg:w-1/2 rounded-2xl relative overflow-hidden">
            <div class="z-10" style="height: 420px" leaflet [leafletOptions]="options" [leafletLayers]="[marker]"></div>
        </div>
    </div>
</main>


<div class="h-80 lines-background" style="background-image: url('assets/img/bg-lines.png')"></div>


<div class="bg-zinc-800 main-background" style="background-image: url('assets/img/bg-lines-white.png')">
    <section class="glass-effect pt-28 pb-40">
        <div class="container mx-auto">
            <div class="flex flex-col justify-center">
                <div class="flex flex-col lg:flex-row text-center items-center justify-evenly">
                    <div class="flex flex-col items-center">
                        <img class="w-48 lg:w-80 icon-section" src="assets/img/personal.png" alt="">
                        <h1 class="bg-clip-text text-transparent bg-gradient-to-b from-white to-teal-300 font-extrabold">
                            <span class="text-5xl xl:text-6xl">Análise Rápida</span> <br> e <span class="text-5xl xl:text-6xl">Gratuita</span>
                        </h1>
                    </div>
                    <div class="flex flex-col items-center">
                        <img class="w-48 lg:w-80 icon-section" src="assets/img/time.png" alt="">
                        <h1 class="bg-clip-text text-transparent bg-gradient-to-b from-white to-red-300 font-extrabold">
                            <span class="text-6xl xl:text-7xl">+20 anos</span> <br> no mercado
                        </h1>
                    </div>
                    <div class="flex flex-col items-center">
                        <img class="w-48 lg:w-80 icon-section" src="assets/img/security.png" alt="">
                        <h1 class="bg-clip-text text-transparent bg-gradient-to-b from-white to-green-300 font-extrabold">
                            <span class="text-6xl xl:text-6xl">Garantia</span> de <br> <span class="text-6xl xl:text-6xl">Qualidade</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div #horario class="bg-black">
    <div class="container mx-auto px-6 pt-8 relative overflow-hidden pb-40">
        <div class="relative z-50">
            <h1 class="text-5xl md:text-6xl lg:text-7xl font-extrabold text-neutral-100 mt-0 mb-3">Horário de funcionamento</h1>
            <div class="flex flex-col gap-1 text-lg text-neutral-300 horario-descricao">
                <div>
                    <strong>Segunda</strong> à 
                    <strong>Sexta</strong> das 
                    <span>07h</span> até as 
                    <span>17h</span>
                </div>
                <div>
                    <strong>Sábado</strong> das 
                    <span>07h</span> até as 
                    <span>12h</span>
                </div>
            </div>
        </div>
    
        <div class="absolute right-5 z-0 bottom-0 opacity-20">
            <img class="w-48 md:w-96" src="assets/img/logo-gray-eletron.png" alt="">
        </div>
    </div>
</div>


<div class="fixed z-50 bottom-10 md:bottom-20 right-10 md:right-20">
    <p-button icon="pi pi-whatsapp" [rounded]="true" severity="success" size="large" />
</div>