.main-background {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; 
}

.lines-background {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; 
}

main .title {
	line-height: 1.1;
}