.main-background {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; 
}

.lines-background {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; 
}

main .title {
	line-height: 1.1;
}

#image {
    opacity: 0;
    transform: translateX(100px);
}

#text {
    opacity: 0;
    transform: translateX(-100px);
}

#horario {
    opacity: 0;
    transform: translateY(-50px);
}