/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "primeng/resources/themes/aura-light-noir/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

@tailwind components;
@tailwind utilities;

@layer reset, primeng;

@layer reset {
    button {
        &:focus {
            box-shadow: none;
        }
    }

    .p-toast {
        width: auto;
        margin-left: 20px;
    }

    .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
        background: none;
    }
}

html { 
    scroll-behavior: smooth;
    font-size: 15px;
}

body { 
    margin: 0;
}

body, .p-toast { 
    font-family: 'Montserrat', sans-serif !important; 
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

main .title {
    line-height: 1.2;
}