/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import "primeng/resources/themes/aura-light-noir/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

@tailwind components;
@tailwind utilities;

@layer reset, primeng;

@layer reset {
    button {
        &:focus {
            box-shadow: none;
        }
    }

    .p-toast {
        width: auto;
        margin-left: 20px;
    }

    .p-button.p-button-lg {
        padding: 28px;
    }

    .p-button.p-button-lg .p-button-icon {
        font-size: 28px;
    }

    .login-password .p-inputtext {
        border-radius: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

html { 
    scroll-behavior: smooth;
    font-size: 14px;
}

body { 
    margin: 0;
}

@font-face {
    font-family: 'Funnel Display', sans-serif !important; 
    font-named-instance:"Regular" !important;
    src: url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap') !important;
}

:root {
    font-family: 'Funnel Display', sans-serif !important; 
    --font-family: "Funnel Display", sans-serif !important;
}

body, .p-toast { 
    font-family: 'Funnel Display', sans-serif !important; 
}

.img-fluid {
    max-width: 100%;
    height: auto;
}