<header #header class="shadow-lg shadow-zinc-100">
    <div class="container mx-auto py-4 px-5 md:px-6">
        <div class="flex items-center justify-start gap-3">
            <img width="35px" class="img-fluid" src="assets/img/logo-black-eletron.png" alt="eletron-logo">
            <div class="flex flex-col md:gap-1 text-left">
                <span class="text-lg font-semibold">ELETRÔNICA DO LUIS</span>
                <div class="flex gap-3 text-slate-500" style="font-size: 13px">
                    <span class="separator">(27) 99969-2465</span>
                    <span>Nova Venécia-ES</span>
                </div>
            </div>
        </div>
    </div>
</header>