<app-header></app-header>

<div class="container mx-auto mt-4 mb-8 px-3 md:px-6">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />

    <div class="flex flex-col md:flex-row h-72 items-center mt-16 mb-20 justify-center text-zinc-700 text-center gap-4 md:gap-8">
        <div class="flex flex-col">
            <p class="font-semibold">Digite o código de consulta:</p>
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Ex: 2024ZMLY" />
            </p-iconField>
            <p-button label="Consultar" size="small" icon="pi pi-search" [rounded]="true" class="mt-3" />
        </div>
    </div>

    <app-reformado-list></app-reformado-list>
</div>

<app-footer></app-footer>